<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline">
                <p class="demoi" routerLink="/scmdesk">SCM ServiceDesk</p>
            </div>           
        </div>
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline" >
                <p class="demoi" routerLink="/userreg">IDM Access Self Service</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline">
                <p class="demoi" routerLink="/scmdesk">Template</p>
            </div>           
        </div>

        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline">
                <p class="demoi" routerLink="/addsite">Site</p>
            </div>           
        </div>
    </div>
</div>