<div class="container">
    <div class="row">
      
                <div class="form-outline mb-4 lg-2">
                    <label class="form-label" for="form3Example9">Service Requester</label>
                    <input type="text" id="form3Example9" name="servicereq"  class="form-control form-control-lg" />
                    
                  </div>          
    </div>

    <div class="row">
      
        <div class="form-outline mb-4 lg-2">
            <label class="form-label" for="form3Example9">Service Requester</label>
            <input type="text" id="form3Example9" name="servicereq"  class="form-control form-control-lg" />
            
          </div>          
</div>
</div>