.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.gradient-custom-4 {
    /* fallback for old browsers */
    /* background: #088b38; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgb(23, 175, 79), rgba(143, 211, 244, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* background: linear-gradient(to right, rgb(5, 119, 47), rgb(233, 242, 247))*/
    background: linear-gradient(to right, rgb(0, 0, 255), rgb(233, 242, 247))
    }
