<section class="h-100 bg-green">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" -->
                <!-- alt="Sample photo" class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" /> -->
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <form>
                    <h3 class="mb-5 text-uppercase">Add Site</h3>
                    <div class="row">
                      <div class="col-md-3 mb-4">
                        <h5>Site</h5>
                      </div>
                      <div class="col-md-2 mb-4">
  
                        <select class="select" name="country">
                          <option value=""></option>
                          <option value="01 Tuas Yard">01 Tuas Yard</option>
                          <option value="03 Admiralty yard 1">03 Admiralty yard 1</option>
                          <option value="06 Pandan Yard">06 Pandan Yard</option>
                          <option value="08 Tanjong Kling Yard">08 Tanjong Kling Yard</option>
                          <option value="09 Admiralty Yard 2">09 Admiralty Yard 2</option>
                          <option value="20 Batam Yard">20 Batam Yard</option>
                          <option value="21 Karimun Yard">21 Karimun Yard</option>
                          <option value="JED">26 JED</option>
                        </select>
  
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-end pt-3">
                      <button type="submit" class="btn gradient-custom-4 btn-lg ms-2">Add</button>
                      <button type="button" class="btn gradient-custom-4 btn-lg ms-2" routerLink="/helpdesk">Back<</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>