<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline">
                <p class="demoi" routerLink="/userreg">User Management</p>
            </div>           
        </div>
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline" >
                <p class="demoi" routerLink="/userreg">Claim Management</p>
            </div>
        </div>
        <div class="col-md-3 mb-3 pb-6 card mt-5">
            <div class="form-outline" >
                <p class="demoi" routerLink="/user">care observation card</p>
            </div>
        </div>
    </div>
   
</div>