
<div><h1>SEMBCORP MARINE</h1></div>
<nav class="navbar navbar-expand-lg gradient-custom-4"> 
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"></a>
      <a class="navbar-brand text-white" href="#"></a>
      <a class="navbar-brand text-white" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/t_home">HOME</a>
          </li>
          <li class="nav-item">  
            <a class="nav-link active text-white" aria-current="page" routerLink="/t_solutions">SOLUTIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/t_tickets">TICKETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/t_servicecatelog">SERVICE CATELOG</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>